      <select id='adminitrador_id' name='adminitrador_id'>
      <% if(data.length)
	  {  for(var i = 0;i < data.length;i++) 
		 {
		 %>
		 <option value="<%=data[i].id%>"><%=data[i].nom%></option>
	 <% } } %>
      </select>