<select id='categoria_id' name='categoria_id'>
      <% if(data.length)
	  {  for(var i = 0;i < data.length;i++) 
		 {
		 %>
		 <option value="<%=data[i].id%>"><%=data[i].nombre%></option>
	 <% } } %>
      </select>